body {
  background-color: #333333;
}

.header {
  text-align: center;
  margin: 20px 0;
}

.header h1 {
  font-size: 24px;
  font-weight: bold;
  color: white;
}

.signInText {
  font-size: 18px;
  font-weight: bold;
  color: white;
}

.container {
  position: absolute;
  top: 127px;
  left: 420px;
  width: 626px;
  height: 599px;
  background: #171a1fff;
  border-radius: 0px 8px 8px 0px;
  box-shadow: 0px 0px 1px #171a1f, 0px 0px 2px #171a1f;
}

.textbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 0rem;
  opacity: 1;
}

.textbox input {
  width: 279px;
  height: 42px;
  padding-left: 52px;
  padding-right: 20px;
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  background: #171a1fff;
  border-radius: 4px;
  border-width: 1px;
  border-color: #ffffffff;
  outline: none;
}

.textbox input:hover {
  color: #9095a0ff;
  background: #171a1fff;
  border-color: #ffffffff;
}

.textbox input:focus {
  color: #9095a0ff;
  background: #171a1fff;
  border-color: #ffffffff;
}

.checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  opacity: 1;
}

.checkbox input {
  display: none;
}

.text {
  position: absolute;
  top: 350px;
  left: 334px;
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  color: #9095a0ff;
}
.topp {
  position: absolute;
  top: 32px;
  left: 32px;
  width: 20px;
  height: 109px;
  border-radius: 0px;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333333;
  color: #ffffff;
  padding: 10px;
}

.button {
  position: absolute;
  top: 400px;
  left: 160px;
  width: 290px;
  height: 44px;
  padding: 0 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  color: #ffffffff;
  background: #4069e5ff;
  opacity: 1;
  border: none;
  border-radius: 4px;
}

.button:hover {
  color: #ffffffff;
  background: #2655e1ff;
}

.button:active {
  color: #ffffffff;
  background: #1941b8ff;
}

.button:disabled {
  opacity: 0.4;
}
